# Template env file used only as example 
# Copy this file as .env and fill true values
# Never commit .env to Git

# Database
DB_HOST=todo_fill_value
DB_NAME=todo_fill_value
DB_USER=todo_fill_value
DB_PASSWORD=todo_fill_value
DB_PORT=5432


# Frontend
FRONTEND_PORT=5173

# Backend
PORT_BACKEND=8080

